<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="shortcut icon" type="image/png" href="./imgs/KBAT.png" />
    <link rel="icon" type="image/png" href="KBAT.png" />
</head>
<center>
    <nav class="navbar navbar-dark bg-dark">
        <!-- Navbar content -->
        <div className="navbar-brand col-sm-3 col-md-2 mr-0">Welcome to KBAT Movies Review</div>
        </div>
        <a href="/login">Login here</a>
        <a href="/signup">Signup here</a>
        <div className="medium-12 columns">
    </nav>
    <br>
    <br>
    <br>
    <center>
        <h2 id="introTxt">
            <div class="Google-Sign-In">
                <center>
                    <a href="/loginauth"
                        src="https://raw.githubusercontent.com/csc4350-f21-KBAT/project2s2/Google-Sign-In/imgs/Google-Sign-In.png"
                        name="Google-Sign-In" width="450" height="90" />
                </center>
        </h2>
    </center>

    <body></body>

    </html>